  <header class="header" role="banner" id="top">
    <div class="row">
      <nav class="nav" role="navigation">
        <ul class="nav__items">
          <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="index.html#portfolio" class="nav__link">Portfolio</a></li>
          <li class="nav__item">
            <a href="about.html" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#footer" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
